

/* GitHub */
/* CSS selects by ID to override default style (loaded earlier: higher priority) */
.repository-content > div #gitpod-btn-container.gitpod-file-btn,
.file-navigation #gitpod-btn-container {
    margin-left: 6px;
}
/* Handle New Repository */
.repository-content > div #gitpod-btn-container.gitpod-file-btn,
.TableObject #gitpod-btn-container {
    margin-left: 0px;
    margin-right: 8px;
}

.no-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

/* Bitbucket */
#commit-header .commit-actions {
    width: 305px;
}

.bitbucket-button {
    background: rgba(9, 30, 66, 0.04);
    border: none;
    outline: 0;
    height: 2.28571429em;
    line-height: 1.57142857em;
    box-sizing: border-box;
    border-radius: 3.01px;
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    padding: 4px 10px;
    vertical-align: baseline;
    white-space: nowrap;
}

.bitbucket-button:hover {
    background: rgba(9, 30, 66, 0.08);
}

.bitbucket-button a, .aui-button a {
    text-decoration: none;
    color: #42526e !important;
    font-family: inherit;
    font-size: 14px;
    font-variant: normal;
    font-weight: 500;
}

.bitbucket-button a:focus {
    outline: none;
}