html, body {
  min-width: 420px;
  width: 90%;
}

div#content {
  padding: 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div#content > div.row {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
    margin-bottom: .5em;
}

.row > input {
  margin-left: 5px;
  min-width: 200px;
}