:root {
    --font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --line-height: 20px;
    --font-size: 12px;
    --font-weight: 500;
    --border-radius: 6px;
    --border-width: 1px;

    --primary-bg-color: #1f75cb;
    --primary-hover-bg-color: #064787;
    --primary-border-color: #1f75cb;
    --primary-hover-border-color: #064787;
    --primary-color: #fff;
    --primary-hover-color: #fff;
    --primary-height: 20px;
    --primary-separator-color: var(--primary-color);

    --secondary-bg-color: #2684FF;
    --secondary-hover-bg-color: #2684FF;
    --secondary-border-color: #1f75cb;
    --secondary-hover-border-color: #064787;
    --secondary-color: #fff;
    --secondary-hover-color: #fff;
    --secondary-separator-color: var(--secondary-border-color);

    --dropdown-bg-color: #fff;
    --dropdown-hover-bg-color: #f6f8fa;
    --dropdown-border-width: var(--border-width);
    --dropdown-border-radius: var(--border-radius);
    --dropdown-border-color: rgba(31, 35, 40, 0.15);
    --dropdown-box-shadow: 5px 5px 10px 0px rgba(140, 149, 159, 0.2);
}

#plasmo-shadow-container {
    z-index: 30 !important;
}

#plasmo-inline {
    max-width: fit-content;
}

.gitpod-button {
    position: 'relative';
    display: 'inline-block';
}

.button {
    display: flex;
}

.button-part {
    display: flex;
    align-items: center;
    border-width: var(--border-width);
    border-style: solid;
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    border-color: var(--primary-border-color);
    padding: 0 12px;
    color: var(--primary-color);
    text-decoration: none;
    height: var(--primary-height);
    min-height: var(--primary-height);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    cursor: pointer;
    white-space: nowrap;
}

.secondary .button-part {
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-border-color);
    color: var(--secondary-color);
}

.secondary .button-part:hover {
    background-color: var(--secondary-hover-bg-color);
    border-color: var(--secondary-hover-border-color);
    color: var(--secondary-hover-color);
}

.button-part:hover {
    background-color: var(--primary-hover-bg-color);
    border-color: var(--primary-hover-border-color);
    color: var(--primary-hover-color);
}

.action {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.action-no-options {
    border-radius: var(--border-radius);
}

.action-logo {
    padding-right: 6px;
    fill: currentColor;
}

.action-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-chevron {
    padding-left: 3px;
    padding-right: 3px;
    border-left: 1px solid var(--primary-separator-color);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.action-chevron:hover {
    border-left: 1px solid var(--primary-separator-color);
}

.secondary .action-chevron {
    border-left: 1px solid var(--secondary-separator-color);
}

.secondary .action-chevron:hover {
    border-left: 1px solid var(--secondary-separator-color);
}

.chevron-icon {
    fill: currentColor;
}

.drop-down {
    z-index: 2147483647;
    position: absolute;
    top: 130%;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    background-color: var(--dropdown-bg-color);
    border-width: var(--dropdown-border-width);
    border-radius: var(--dropdown-border-radius);
    border-style: solid;
    border-color: var(--dropdown-border-color);
    box-shadow: var(--dropdown-box-shadow);
}

.left-align-menu .drop-down {
    right: auto;
    left: 0;
}

.drop-down::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 4px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid inherit;
    border-bottom: 8px solid var(--borderColor-default, var(--color-border-default));
}

.drop-down .button-part {
    border: none !important;
    color: var(--dropdown-color) !important;
    background-color: var(--dropdown-bg-color) !important;
    min-width: 160px;
}

.drop-down-action {
    cursor: pointer;
    font-weight: 400;
}

.drop-down-action:hover {
    background-color: var(--dropdown-hover-bg-color) !important;
}

/* github */

.github {
    --font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --line-height: 1.5;
    --font-size: var(--text-body-size-small, 0.75rem);
    --font-weight: var(--base-text-weight-medium, 500);
    --border-radius: var(--borderRadius-medium, 0.375rem);
    --border-width: var(--borderWidth-thin, max(1px, 0.0625rem));

    --primary-height: var(--control-small-size, 1.75rem);
    --primary-bg-color: var(--button-primary-bgColor-rest, var(--color-btn-primary-bg));
    --primary-hover-bg-color: var(--button-primary-bgColor-hover, var(--color-btn-primary-hover-bg));
    --primary-border-color: var(--button-primary-borderColor-rest, var(--color-btn-primary-border));
    --primary-hover-border-color: var(--button-primary-borderColor-hover, var(--color-btn-primary-hover-border));
    --primary-color: var(--button-primary-fgColor-rest, var(--color-btn-primary-text));
    --primary-hover-color: var(--button-primary-fgColor-rest, var(--color-btn-primary-text));
    --primary-box-shadow: var(--shadow-resting-small, var(--color-btn-primary-shadow)), var(--shadow-highlight, var(--color-btn-primary-inset-shadow));
    
    --dropdown-bg-color: var(--overlay-bgColor, var(--color-canvas-overlay));
    --dropdown-hover-bg-color: var(--bgColor-neutral-muted, var(--color-neutral-subtle));
    --dropdown-border-radius: 6px;
    --dropdown-border-width: 1px;
    --dropdown-border-color: var(--borderColor-default, var(--color-border-default));
    --dropdown-box-shadow: var(--shadow-floating-large, var(--color-shadow-large));
}

.github .chevron-icon {
    padding: 3px;
}

.github.medium {
    --line-height: 1.5;
    --primary-height: var(--control-medium-size, 2rem);
    --font-size: var(--text-body-size-medium, 0.75rem);
}

.gitlab {
    --font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --line-height: 1rem;
    --font-size: 0.875rem;
    --font-weight: 400;
    --border-radius: 0.25rem;
    --border-width: 0px;

    --primary-bg-color: #1f75cb;
    --primary-hover-bg-color: #1068bf;
    --primary-border-color: var(--button-primary-borderColor-rest, var(--color-btn-primary-border));
    --primary-hover-border-color: #dedee3;
    --primary-color: #fff;
    --primary-hover-color: #fff;
    --primary-box-shadow: inset 0 0 0 1px #1068bf;
    --primary-hover-box-shadow: inset 0 0 0 2px #064787, 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    --primary-height: 32px;
    --primary-separator-color: #dcdcde;

    --dropdown-color: #333238;
    --dropdown-bg-color: #fff;
    --dropdown-hover-bg-color: #ececef;
    --dropdown-border-width: 1px;
    --dropdown-border-radius: 0.25rem;
    --dropdown-border-color: #dcdcde;
    --dropdown-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bitbucket-server {
    --font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --line-height: 20px;
    --font-size: 14px;
    --font-weight: 500;
    --border-radius: 3px;
    --border-width: 0;

    --primary-bg-color: var(--ds-background-brand-bold, #0052CC);
    --primary-hover-bg-color: var(--ds-background-brand-bold-hovered, #0065FF);
    --primary-border-color: var(--aui-button-default-border-color,transparent);
    --primary-hover-border-color: var(--aui-button-default-border-color,transparent);
    --primary-color: var(--ds-text-inverse, #FFFFFF) !important;
    --primary-hover-color: var(--ds-text-inverse, #FFFFFF) !important;
    --primary-box-shadow: none;
    --primary-hover-box-shadow: none;
    --primary-height: 30px;
    --primary-separator-color: var(--aui-body-background);

    --secondary-bg-color: var(--aui-button-default-bg-color);
    --secondary-hover-bg-color: var(--aui-button-default-hover-bg-color);
    --secondary-color: var(--aui-button-default-text-color);
    --secondary-hover-color: var(--aui-button-default-text-color);
    --secondary-separator-color: var(--aui-body-background);

    --dropdown-color: #172B4D;
    --dropdown-bg-color: var(--aui-body-background);
    --dropdown-hover-bg-color: #EBECF0;
    --dropdown-border-width: var(--aui-inline-dialog-border-width);
    --dropdown-border-radius: 3px;
    --dropdown-border-color: var(--aui-inline-dialog-border-color);
    --dropdown-box-shadow:  0 4px 8px -2px var(--aui-shadow2),0 0 1px var(--aui-shadow2);
}

.bitbucket {
    --font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --line-height: 20px;
    --font-size: 14px;
    --font-weight: 500;
    --border-radius: 3px;
    --border-width: 0;

    --primary-bg-color: rgb(0, 82, 204);
    --primary-hover-bg-color: rgba(0, 82, 204, 0.9);
    --primary-border-color: var(--aui-button-default-border-color,transparent);
    --primary-hover-border-color: var(--aui-button-default-border-color,transparent); 
    --primary-color: var(--ds-text-inverse, #FFFFFF) !important;
    --primary-hover-color: var(--ds-text-inverse, #FFFFFF) !important;
    --primary-box-shadow: none;
    --primary-hover-box-shadow: none;
    --primary-height: 32px;
    --primary-separator-color: var(--ds-text-inverse, #FFFFFF) !important;

    --dropdown-color: #172B4D;
    --dropdown-bg-color: var(--ds-surface-overlay, #FFFFFF);
    --dropdown-hover-bg-color: #EBECF0;
    --dropdown-border-width: 0;
    --dropdown-border-radius: var(--ds-border-radius, 3px);
    --dropdown-border-color: 0;
    --dropdown-box-shadow:  var(--ds-shadow-overlay, 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31));
}