name: "CI"
on:
  push:
  schedule:
    - cron: "0 0 * * MON-FRI"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # pin@v5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # pin@v4
        with:
          version: latest
      - name: Use Node.js 20.x
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # pin@v5
        with:
          node-version: 20.x
          cache: "pnpm"
      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
          pnpm run puppeteer-install
          cd test && pnpm install --frozen-lockfile
      - name: Build the extension
        run: pnpm build
      - name: Run tests
        run: cd test && pnpm test
