name: "CI"
on:
  push:
  schedule:
    - cron: "0 0 * * MON-FRI"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: latest
          run_install: true
      - name: Install native dependencies
        run: brew install vips
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: "pnpm"
      - name: Build the extension
        run: pnpm build
      - name: Run tests
        run: cd test && pnpm test
