name: "CI"
on:
  push:
  schedule:
    - cron: "0 0 * * MON-FRI"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Use Node.js 20.x
        uses: actions/setup-node@v5
        with:
          node-version: 20.x
          cache: "pnpm"
      - name: Install dependencies
        run: |
          pnpm install
          npx puppeteer browsers install
          cd test && pnpm install
      - name: Build the extension
        run: pnpm build
      - name: Run tests
        run: cd test && pnpm test
